.Footer {
	background: $footer-bg-color;
	color: $footer-text-color;
	font-family: $header-font-family;
	padding: $spacing-l 0;
	margin-top: $spacing-m;
}

@include set-max-width-responsive("Footer-nav");
.Footer-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.Footer-brand {
	font-size: $h2-font-size;
	text-decoration: none;
	color: $footer-text-color;
	padding: $spacing-xs;
}
