.footer {
	background: $footer-bg-color;
	color: $footer-text-color;
	font-family: $header-font-family;
	padding: $spacing-l 0;
	margin-top: $spacing-m;
}

.footer__nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__navlinks {
	display: flex;
	flex-direction: column;
}

.footer__navlink {
	text-decoration: none;
	font-size: $h6-font-size;
	color: $footer-text-color;
	padding: $spacing-xs;
}

.footer__navlink__brand {
	font-size: $h5-font-size;
}

.social-icons {
	height: 16px;
	width: auto;
	filter: brightness(0);
	margin: $spacing-xs;
}

@media (min-width: $page-width) {
	.footer__nav {
		width: $page-width;
		margin-right: auto;
		margin-left: auto;
	}
	.social-icons {
		height: 32px;
	}
}
