.Header {
	font-family: $header-font-family;
	color: $main-text-color;
	width: 100%;
}

@include set-max-width-responsive("Header-nav");
.Header-nav {
	display: none;
}

.Header-navlink {
	text-decoration: none;
	font-size: $h5-font-size;
	padding: 0 $spacing-m;
}

.Header-navlink {
	color: $main-text-color;
}

.Header-navlink-active {
	color: $header-active-color;
}

@media (min-width: $page-width) {
	.Header-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding: $spacing-s;
	}
}
