.side-menu {
	background-color: $header-bg-color;
	border: 1px solid lighten($header-bg-color, 10%);
	display: flex;
	flex-direction: column;
	position: absolute;
	top: $h3-font-size + 2 * $spacing-s;
	right: 0;
	padding: $spacing-m;
	border-radius: 0.5rem;
}

.side-menu .navlink {
	color: $header-text-color;
	font-family: $header-font-family;
	font-size: $h5-font-size;
	text-decoration: none;
	width: 100%;
	padding: $spacing-s;
}

.side-menu .navlink__active {
	font-weight: bold;
	text-decoration: underline;
}
