.button {
	background-color: $button-color;
	color: $button-text-color;

	border: darken($button-color, 10%);
	border-radius: 0.5rem;
	outline: none;

	font-family: $header-font-family;
	font-size: $h5-font-size;
	text-decoration: none;

	padding: $spacing-s;
	margin-left: $spacing-s;

	cursor: pointer;
}

.button:hover {
	background-color: darken($button-color, 10%);
}

.button:disabled {
	cursor: default;
}
