// Font styling

// Font family
$Komika: "Komika", serif;
$Montserrat: "Montserrat", Helvetica, Arial, sans-serif;
$Staatliches: "Staatliches", Arial, sans-serif;
$header-font-family: $Staatliches;
$text-font-family: $Montserrat;

// Font size
$h1-font-size: 4.8rem;
$h2-font-size: 3.6rem;
$h3-font-size: 3.2rem;
$h4-font-size: 2.4rem;
$h5-font-size: 2rem;
$h6-font-size: 1.6rem;

$text-font-size-m: 2.4rem;
$text-font-size-s: 1.8rem;

$header-font-weight: 300;
$text-font-weight: 500;

// Theming

// Colors
$main-text-color: #000;
$main-text-secondary: rgb(102, 183, 207);
$main-text-tertiary: rgb(255, 215, 121);
$main-text-fourth: rgb(255, 139, 121);
$main-bg-color: white;
$header-text-color: #eee;
$header-bg-color: #000;
$header-secondary-bg-color: rgb(64, 98, 161);
$header-active-color: $main-text-secondary;
$error-text-color: $main-text-fourth;
$footer-bg-color: lighten($main-text-secondary, 30%);
$footer-text-color: $main-text-color;
$footer-text-secondary: $main-text-secondary;
$button-color: $main-text-tertiary;
$button-text-color: white;

// Sizing

// Width
$page-width: 768px;

// Spacing
$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing-m: 1.6rem;
$spacing-l: 2.4rem;

// Effects
$grid-line: transparentize($main-text-color, 0.93);
$grid-square-width: 40px;
$grid-background-image: repeating-linear-gradient(
		$grid-line,
		transparent 1px $grid-square-width - 1,
		$grid-line $grid-square-width
	),
	repeating-linear-gradient(
		to right,
		$grid-line,
		transparent 1px $grid-square-width - 1,
		$grid-line $grid-square-width
	);
